{% extends 'base.html' %}


{% block body %}
<div class="container">
    <form action = "/keyword" method="POST">
        <div class="mb-3">
          <div class="input-group mb-3">
            <input type="text" required class="form-control" placeholder="Movie Plot main Keywords ex: god, alien, police..." name = "keyw" aria-label="Username">

          </div>  
          <div class="input-group mb-3">
            <input type="number" required class="form-control" placeholder="No of Movies ex : 10" name = "numbers" aria-label="Username">
            <input type="number" required class="form-control" placeholder="No of Ratings and above ex : 2" name = "rate" aria-label="Username">
          </div> 

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock body %}







